<%- include("template/cabecera",{titulow:"Contactanos"})%>
<%- include("template/header",{titulo:"CV Digital"})%>

<body class="caracbody">
    <div class="caracbody" style="position: relative;">
        <div class="centrado" style="width: 50%;" >
            <h2> <%=titulo   %></h2>
            <img class="imi" src="https://images.vexels.com/media/users/3/208106/isolated/lists/25f90f676b6ea88a5683158d91007907-icono-de-trazo-de-llamada-de-telefono-celular.png" alt="telefono">
            <p>
                Telefono Celular: 997 979 3305
                <br>
                Correo: eduardo.nah@uimqroo.edu.mx
            </p>
        </div>
    </div>
</body>
<%- include("template/footer")%>
</html>
