<%- include("template/cabecera",{titulow:"Datos Personales"})%>
<body class="caracbody">
    <h2><%=titulo%></h2>
    <p>datos Personales</p>
    <p>Eiusmod aliquip reprehenderit non aliquip laboris eu occaecat incididunt sunt incididunt aliqua. Laboris ipsum voluptate esse occaecat magna laborum. Velit pariatur laborum laborum pariatur ea in. Sit aliqua adipisicing qui labore laboris laborum do laboris commodo ullamco. Fugiat sit enim laboris reprehenderit anim pariatur deserunt ea ea adipisicing. Ad esse sit incididunt cillum ea duis culpa excepteur Lorem excepteur enim laborum consequat culpa.</p>
    <p>Excepteur adipisicing laborum incididunt occaecat ad deserunt cupidatat deserunt. Enim dolor sunt et commodo dolor officia esse deserunt incididunt. Esse ut veniam velit nisi. Elit fugiat esse nulla mollit consequat adipisicing nostrud. Incididunt ullamco consectetur qui commodo irure labore et culpa amet proident nulla duis. Nisi minim et nisi aliqua proident enim mollit commodo cupidatat.</p>
</body>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Primaria</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Secundaria</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Preparatoria</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact2-tab" data-bs-toggle="tab" data-bs-target="#contact2" type="button" role="tab" aria-controls="contact2" aria-selected="false">Universidad</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact2-tab"><p>Conclui mis estudios en la Universidad Intercural Maya de Quintana Roo, obteniendo el titulo en Licenciado en Ingenieria en Tecnologias de la Informacion Y Comunicacion, este obtenido en el termino de 4 años.</p></div>
  </div>
