<%- include("template/cabecera",{titulow:"Habilidades"})%>
<%- include("template/header",{titulo:"CV Digital"})%>
<body class="caracbody">
    <div class="conin">
        <br>
        <div>
            <h2>Habilidades</h2>
            <br>
            <p>En este apartado se verá las habilidades mas relevantas que he desarrollado al durante mi tiempo libre, con el fin de poder mantener mi desarrollo personal lo mas productivo posible, haciendome capaz de de realizar diversas actividades sin temor a fallar.</p>
            <br>
            <img class="conin"src="https://nanagonzalez.com/wp-content/uploads/2019/02/ASK-learn_header-1024x481.png" alt="Habilidad">
            <br>
            <br>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Paciencia</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Liderazgo</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Ética de trabajo</button>
                </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">La paciencia es una de las habilidades que son fundamentales para poder realizar trabajos, pues ayudan a tolerar las contrariedades y adversidades con fortaleza y sin lamentarse. </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Tengo la capacidad de motivar y conducir a un grupo de personas hacia el logro de un objetivo común, haciendo que las metas sean cumplidas en tiempo y forma, evitando conflictos internos en el grupo laboral. </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Capaz de poder atacar con honestidad las situaciones y podenr tomas acciones acordes a lo que dicta la empresa, .</div>
          </div>
        </div>
        <div>
            <h2>Idiomas Dominados</h2>
            
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Ingles</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Francés</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Alemmán</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home2-tab">
                    <p> el idioma ingles cuento con un nivel B2, por lo que estoy acostumbrado a interactuar con textos y situaciones complejas, incluso soy capas de participar en discusiones técnicas sobre su área de especialización.
                    </p>
                    <img class="conin" src="https://images.twinkl.co.uk/tr/image/upload/t_illustration/illustation/Students-Discussing-Talking-Discussion---Classroom-Talk-People-Group-General-Secondary.png" alt="Discucion">


                </div>
                <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile2-tab">
                    <p> francés cuento con el nivel A2 en el idioma francés, lo cual me hace capaz de entender temas de conversación y poder interactuar en un ambiente laboral, haciéndome adecuado para una conversación de manera no técnica.

                    </p>
                    <img class="conin" src="https://conversacionescolaborativas.com/wp-content/uploads/2020/04/Comunicacion-e1589375511308.png" alt="conversacion">
                </div>
                <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact2-tab">
                    <p>En alemán cuento con un nivel C1 el cual me permite realizar conversaciones de manera fluida y soltura, haciendo que pueda realizar redacciones sin error alguno siendo este el idioma que manejo de manera más adecuada después del mi lengua materna.

                    </p>

                    <img class="conin" src="https://static.wixstatic.com/media/87ec0b_736942f8de13405682921fb3ea5c4082~mv2.png/v1/fill/w_740,h_445,al_c,q_95/87ec0b_736942f8de13405682921fb3ea5c4082~mv2.webp" alt="exposicion">
                </div>
            </div>
        </div>

    </div>
</body>
<%- include("template/footer")%>
</html>