<%- include("template/cabecera",{titulow:"Pagina Principal"})%>
<%- include("template/header",{titulo:"CV Digital"})%>
<br>

<body class="caracbody">
    <div class="conin">
      <h2>Eduardo Nah Diaz</h2>
      <p>Edad: 22 Años</p>
      <p>Sexo: Masculino</p>
      <p>Domicilio : Chilam balam / Coba y Cecilio Chi Colonia Centro</p>
      <p>Pasa tiempos: Leer , cocinar y deporte.</p>


      

      <div >
          <br>
          <h3>Nivel de Estudio</h3>
          <br>

          <div class="d-flex align-items-start">
              <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Primaria</button>
                  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Secundaria</button>
                  <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Preparatoria</button>
                  <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Universidad</button>
              </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><P>El nive basico escolar lo tome en la escuela primaria Benito Juarez concluyendo 6 años de estudio.</P>         
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <p>La secundaria Andres Quintana Roo fue donde continue mis estudios durante tres años, en el cual tuve el paraescolar de dibujo tecnico.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><p>En la preparatioria del colegio de bachilleres del estado de Quintana Roo, en el Plantel José María Morelos; de la misma manera estudie 3 años con la capacitacion en Informatica</p></div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><p>Conclui mis estudios en la Universidad Intercural Maya de Quintana Roo, obteniendo el titulo en Licenciado en Ingenieria en Tecnologias de la Informacion Y Comunicacion, este obtenido en el termino de 4 años.</p></div>
          </div>
        </div>
      </div>
      <div >
          <br>
          <h3>Experiencia</h3>
          <br>
          <div class="d-flex align-items-start">
              <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-home2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home2" type="button" role="tab" aria-controls="v-pills-home2" aria-selected="true">Atencion al cliente</button>
                  <button class="nav-link" id="v-pills-profile2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile2" type="button" role="tab" aria-controls="v-pills-profile2" aria-selected="false">Diagnostico <br> equipo de computo</button>
                  <button class="nav-link" id="v-pills-messages2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages2" type="button" role="tab" aria-controls="v-pills-messages2" aria-selected="false">Edicion</button>
                  
              </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home2-tab">Con 10 años de exoeriencia en la atencion al cliente, siendo esto obtenido al trabajar como encargado de un negocio</div>
            <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile2-tab">10 años con experiencia en el diagnostico de equipo de computo, con a ver realizado mas de 4,000 equipos diagnosticados.</div>
            <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages2-tab">1 Año en la edicion de video</div>
            
          </div>
        </div>
      </div>
    </div>
  
</body>
<%- include("template/footer")%>
</html>