<header class="caracheader">
    <div class="container">
        
        <div class="row align-items-center">
          <div class="col">
            <h1> <%=titulo   %></h1>
          </div>
          <div class="col-5">
            <nav  >
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-primary me-2" type="button" onclick="location.href='/'">Datos Personales</button>
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-primary me-2" type="button" onclick="location.href='/habilidades'">Habilidades</button>
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-primary me-2" type="button" onclick="location.href='/contactanos'">Contactanos</button>
              </nav>
          </div>
        </div>
      </div>
      


</header>